<app-particles></app-particles>

<div class="container-center">
  <h2 class="text-center fade-in text-light">Where do you want to go?</h2>
  </div>

  <div class="card-container fade-in">
    <a routerLink="/login" class="card" rel="noopener" href="#">
     <strong> <span>Login</span></strong>
    </a>

    <a routerLink="/register" class="card" rel="noopener" href="#">
     <strong><span>Register</span></strong>
    </a>

    <a routerLink="/companies" class="card" rel="noopener" href="#">
     <strong> <span>Company Profile</span></strong>
    </a>

  </div>
<router-outlet></router-outlet>
