video.bg-video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translateX(-50%) translateY(-50%);
  z-index: -1;
}


@media (pointer: coarse) and (hover: none) {

  body video {
    display: none;
    z-index: -1;
  }
}
